.button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 51px;
    width: auto;
    border-radius: 5px;
    margin: 1px;
    cursor: pointer; 
    font-size: 15px;
}

.row-style {
    display: flex;
    flex-direction: row;
    padding: 0px;
    justify-content: space-around;
}

.equals-button{
    background-color: #4CC2FF;
    color: black;
}

.equals-button:hover{
    background-color: #66B2E8;
}

.operator-button{
    background-color: #323232;
}

.operator-button:hover{
    background-color: #3B3B3B;
}

.operator-button:active{
    background-color: #2D3535;
}

.numeric-button{
    background-color: #3B3B3B;
}

.numeric-button:hover{
    background-color: #323232;
}

.numeric-button:active{
    background-color: #222B2A;
}