.display {
    display: flex;
    justify-content: right;
    padding: 0px 10px 0px 10px;
    
}

.memory-display{    
    margin-top: 15px;
    height: 30px;
}

.memory-display > p {
    color: #A6A6A6;
    margin: 0px;
    padding: 0px;
    overflow-x: auto;
}

.console-display > p {
    margin: 0px;
    padding: 0px;
    height: 85px;
    align-self: flex-end;
    font-size: 45px;
    overflow-x: auto;
}