.modal-history {
    background-color: #202020; 
    padding: 10px;
    border-radius: 10px;
    animation: show-up 1s ease-in-out;
}

.modal-history-header{
    height: 30px;
}

.modal-history-body{
    height: 240px;
    overflow: auto;
}

.modal-history-footer{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 30px;
}

.modal-history-footer > p{
    text-align: right;
}

.modal-history-header p {
    font-size: 16px;
    font-weight: 100;
}

.modal-history-body p {
    font-weight: 500; 
    text-align: right;
}

.modal-history-footer p:hover {
    cursor: pointer; 
}

@keyframes show-up {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
